.btn {
    color: var(--color-black);
    background-color: var(--color-primary);
    padding: 8px 16px;
    font-size: var(--font-size-h3);
    font-weight: 800;
    border-radius: 100px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:hover {
        color: var(--color-black);
    }
}
