.footer {
    padding: 40px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icons {
        display: flex;
        gap: 56px;
    }
    .icon {
        color: var(--color-gray);
    }
    h1 {
        color: var(--color-content);
    }
}
