.header {
    text-align: center;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    a {
        color: var(--color-white);
    }
}
