/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: 300;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    color: var(--color-primary);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}
strong {
    font-weight: 600;
    color: var(--color-white);
}
p {
    color: var(--color-content);
}
.tag {
    font-size: var(--font-size-tag);
    color: var(--color-white);
}
