/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work Sans', sans-serif;

    --font-secondary: 'Montserrat', sans-serif;

    --font-size-content: #{typo(16px, 32px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(30px, 50px)};
    --font-size-h3: #{typo(12px, 16px)};
    --font-size-h4: #{typo(20px, 30px)};
    --font-size-tag: #{typo(16px, 18px)};
}
