{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media"><img src="assets/images/hero.jpg" alt="La mer avec un ciel nuageux" /></div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercices
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>laboratoires</strong>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem01.png" alt="Image de cartes réalisées au labo de la semaine 1" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem02.png" alt="Image d'un hero réalisé au labo de la semaine 2" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem02/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem03.png" alt="Image d'un hero réalisé au labo de la semaine 3" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUISA JOY</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem04.png" alt="Image d'un exercice réalisé au labo de la semaine 4" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section carrousel">
    <div class="wrapper">
        <h2>
            Mes
            <strong>laboratoires réactifs</strong>
        </h2>

        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/sem07.png" alt="Image de cartes réalisées au labo de la semaine 7" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 07 - SITE RÉACTIF</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem07/">
                                Voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/sem08.png" alt="Image d'un hero réalisé au labo de la semaine 8" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 08 - SITE RÉACTIF</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <p class="tag">SCSS</p>
                            <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem08/">
                                Voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/sem09.png" alt="Image d'un numéro réalisé au labo de la semaine 9" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 08 - SWIPERJS</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <p class="tag">JAVASCRIPT</p>
                            <a class="btn" target="_blank" href="https://tfouda.dectim.ca/cours/cw3/sem09/">
                                Voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
